body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: aliceblue;
}

form {
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
}

legend {
  text-align: center;
}

.back,
a {
  font-size: 15px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #2880b9;
  color: white;
  text-decoration: none;
  width: 70px;
  height: 40px;
  border: transparent;
  border-radius: 5px;
}

.submit {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #2952ba;
}
