* {
  padding: 0;
  /* padding-top: 50;
  left: 50;
  right: 50; */
}

body {
  text-align: justify;
  font-family: sans-serif;
}

.box {
  width: 100%;
  height: 50%;

  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #29ba96;
  border-radius: 2px;
}

section {
  text-align: center;
  align-items: center;
  border: solid #2880b9;
  box-sizing: border-box;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 2%;

  padding-top: 20px;
  border-radius: 20px;
}

.button {
  justify-content: center;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

.pendaftaran,
a {
  font-size: 30px;
  background-color: #2880b9;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 70px;
  border: transparent;
  border-radius: 10px;
}
